<%- include('../base') %>

<header>
  <span>LOGO</span>
  <div class="links">
    <a href="https://github.com/nelfimov">Github</a>
    <a href="/">Home</a>
    <a href="/new">Create new</a>
  </div>
</header>