<%- include('../partials/header', {title}) %>

<main>
  <form action="/new" method="post">
    <textarea name="message" id="message" cols="30" rows="10">Input your message</textarea>
    <input type="text" name="author" id="author">
    <label for="author">Author</label>
    <button>Submit</button>
  </form>
</main>

<%- include('../partials/footer') %>