<%- include('../partials/header') %>

<main>
  <form action="/new" method="post">
    <input type="text" name="message" id="message">
    <label for="message">Message</label>
    <button>Submit</button>
  </form>
</main>

<%- include('../partials/footer') %>