<%- include('../partials/header') %>

<main>
  <h1>Welcome to the mini messaging board</h1>
  <ul>
    <% messages.forEach((item) => { %>
    <li><%= item.text %></li>
    <% }); %>
  </ul>
</main>

<%- include('../partials/footer') %>